<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

  <nav>
    <ul>
      <li><a href="Website.html">HOME</a></li>
      <li><a href="Courses.html">COURSES</a></li>
      <li><a href="Contact.html">CONTACT</a></li>
    </ul>
  </nav>

  <div class="bgimg-3">
    <div class="caption">
      <span class="border">CONTACT</span>
    </div>
  </div>

<center><p> I AM CURRENTLY LOCATED IN OTTAWA!</p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d719091.4235620833!2d-76.36067921923382!3d45.24878617735624!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cce05b25f5113af%3A0x8a6a51e131dd15ed!2sOttawa%2C+ON!5e0!3m2!1sen!2sca!4v1511368259709"width="600" height="450" frameborder="0" style="border:0" allowfullscreen class="map"></iframe>
<br>
<p>SHOOT ME AN E-MAIL <br>
I'D LOVE TO HEAR FROM YOU!</p>
<form>
  <p><input type="text" placeholder="Name" required name="Name" size="80"></p>
  <p><input type="text" placeholder="Email" required name="Email" size="80"></p>
  <p><input type="text" placeholder="Subject" required name="Subject" size="80"></p>
  <p><textarea cols="79" placeholder="Message"></textarea></p>
</form>
<input type="submit" value="Submit" class="button">
</center><br>

<footer>
  <div><center>
    <i class="fa fa-facebook-official"></i>
    <i class="fa fa-instagram"></i>
    <i class="fa fa-linkedin"></i>
  </center></div> <br>
  Richard Xu &#169
</footer>

</body>
</html>
